.flex-5  { flex-basis:  5%; }
.flex-10 { flex-basis: 10%; }
.flex-15 { flex-basis: 15%; }
.flex-20 { flex-basis: 20%; }
.flex-25 { flex-basis: 25%; }
.flex-30 { flex-basis: 30%; }
.flex-33 { flex-basis: 33%; }
.flex-35 { flex-basis: 35%; }
.flex-40 { flex-basis: 40%; }
.flex-45 { flex-basis: 45%; }
.flex-50 { flex-basis: 50%; }
.flex-55 { flex-basis: 55%; }
.flex-60 { flex-basis: 60%; }
.flex-65 { flex-basis: 65%; }
.flex-66 { flex-basis: 66%; }
.flex-70 { flex-basis: 70%; }
.flex-75 { flex-basis: 75%; }
.flex-80 { flex-basis: 80%; }
.flex-85 { flex-basis: 85%; }
.flex-90 { flex-basis: 90%; }
.flex-95 { flex-basis: 95%; }

@media (max-width: $xs - 1) {
  .flex-5-xxs  { flex-basis:  5%; }
  .flex-10-xxs { flex-basis: 10%; }
  .flex-15-xxs { flex-basis: 15%; }
  .flex-20-xxs { flex-basis: 20%; }
  .flex-25-xxs { flex-basis: 25%; }
  .flex-30-xxs { flex-basis: 30%; }
  .flex-33-xxs { flex-basis: 33%; }
  .flex-35-xxs { flex-basis: 35%; }
  .flex-40-xxs { flex-basis: 40%; }
  .flex-45-xxs { flex-basis: 45%; }
  .flex-50-xxs { flex-basis: 50%; }
  .flex-55-xxs { flex-basis: 55%; }
  .flex-60-xxs { flex-basis: 60%; }
  .flex-65-xxs { flex-basis: 65%; }
  .flex-66-xxs { flex-basis: 66%; }
  .flex-70-xxs { flex-basis: 70%; }
  .flex-75-xxs { flex-basis: 75%; }
  .flex-80-xxs { flex-basis: 80%; }
  .flex-85-xxs { flex-basis: 85%; }
  .flex-90-xxs { flex-basis: 90%; }
  .flex-95-xxs { flex-basis: 95%; }
}

@media (min-width: $xs) {
  .flex-5-xs  { flex-basis:  5%; }
  .flex-10-xs { flex-basis: 10%; }
  .flex-15-xs { flex-basis: 15%; }
  .flex-20-xs { flex-basis: 20%; }
  .flex-25-xs { flex-basis: 25%; }
  .flex-30-xs { flex-basis: 30%; }
  .flex-33-xs { flex-basis: 33%; }
  .flex-35-xs { flex-basis: 35%; }
  .flex-40-xs { flex-basis: 40%; }
  .flex-45-xs { flex-basis: 45%; }
  .flex-50-xs { flex-basis: 50%; }
  .flex-55-xs { flex-basis: 55%; }
  .flex-60-xs { flex-basis: 60%; }
  .flex-65-xs { flex-basis: 65%; }
  .flex-66-xs { flex-basis: 66%; }
  .flex-70-xs { flex-basis: 70%; }
  .flex-75-xs { flex-basis: 75%; }
  .flex-80-xs { flex-basis: 80%; }
  .flex-85-xs { flex-basis: 85%; }
  .flex-90-xs { flex-basis: 90%; }
  .flex-95-xs { flex-basis: 95%; }
}

@media (min-width: $sm) {
  .flex-5-sm  { flex-basis:  5%; }
  .flex-10-sm { flex-basis: 10%; }
  .flex-15-sm { flex-basis: 15%; }
  .flex-20-sm { flex-basis: 20%; }
  .flex-25-sm { flex-basis: 25%; }
  .flex-30-sm { flex-basis: 30%; }
  .flex-33-sm { flex-basis: 33%; }
  .flex-35-sm { flex-basis: 35%; }
  .flex-40-sm { flex-basis: 40%; }
  .flex-45-sm { flex-basis: 45%; }
  .flex-50-sm { flex-basis: 50%; }
  .flex-55-sm { flex-basis: 55%; }
  .flex-60-sm { flex-basis: 60%; }
  .flex-65-sm { flex-basis: 65%; }
  .flex-66-sm { flex-basis: 66%; }
  .flex-70-sm { flex-basis: 70%; }
  .flex-75-sm { flex-basis: 75%; }
  .flex-80-sm { flex-basis: 80%; }
  .flex-85-sm { flex-basis: 85%; }
  .flex-90-sm { flex-basis: 90%; }
  .flex-95-sm { flex-basis: 95%; }
}

@media (min-width: $md) {
  .flex-5-md  { flex-basis:  5%; }
  .flex-10-md { flex-basis: 10%; }
  .flex-15-md { flex-basis: 15%; }
  .flex-20-md { flex-basis: 20%; }
  .flex-25-md { flex-basis: 25%; }
  .flex-30-md { flex-basis: 30%; }
  .flex-33-md { flex-basis: 33%; }
  .flex-35-md { flex-basis: 35%; }
  .flex-40-md { flex-basis: 40%; }
  .flex-45-md { flex-basis: 45%; }
  .flex-50-md { flex-basis: 50%; }
  .flex-55-md { flex-basis: 55%; }
  .flex-60-md { flex-basis: 60%; }
  .flex-65-md { flex-basis: 65%; }
  .flex-66-md { flex-basis: 66%; }
  .flex-70-md { flex-basis: 70%; }
  .flex-75-md { flex-basis: 75%; }
  .flex-80-md { flex-basis: 80%; }
  .flex-85-md { flex-basis: 85%; }
  .flex-90-md { flex-basis: 90%; }
  .flex-95-md { flex-basis: 95%; }
}

@media (min-width: $lg) {
  .flex-5-lg  { flex-basis:  5%; }
  .flex-10-lg { flex-basis: 10%; }
  .flex-15-lg { flex-basis: 15%; }
  .flex-20-lg { flex-basis: 20%; }
  .flex-25-lg { flex-basis: 25%; }
  .flex-30-lg { flex-basis: 30%; }
  .flex-33-lg { flex-basis: 33%; }
  .flex-35-lg { flex-basis: 35%; }
  .flex-40-lg { flex-basis: 40%; }
  .flex-45-lg { flex-basis: 45%; }
  .flex-50-lg { flex-basis: 50%; }
  .flex-55-lg { flex-basis: 55%; }
  .flex-60-lg { flex-basis: 60%; }
  .flex-65-lg { flex-basis: 65%; }
  .flex-66-lg { flex-basis: 66%; }
  .flex-70-lg { flex-basis: 70%; }
  .flex-75-lg { flex-basis: 75%; }
  .flex-80-lg { flex-basis: 80%; }
  .flex-85-lg { flex-basis: 85%; }
  .flex-90-lg { flex-basis: 90%; }
  .flex-95-lg { flex-basis: 95%; }
}

@media (min-width: $xl) {
  .flex-5-xl  { flex-basis:  5%; }
  .flex-10-xl { flex-basis: 10%; }
  .flex-15-xl { flex-basis: 15%; }
  .flex-20-xl { flex-basis: 20%; }
  .flex-25-xl { flex-basis: 25%; }
  .flex-30-xl { flex-basis: 30%; }
  .flex-33-xl { flex-basis: 33%; }
  .flex-35-xl { flex-basis: 35%; }
  .flex-40-xl { flex-basis: 40%; }
  .flex-45-xl { flex-basis: 45%; }
  .flex-50-xl { flex-basis: 50%; }
  .flex-55-xl { flex-basis: 55%; }
  .flex-60-xl { flex-basis: 60%; }
  .flex-65-xl { flex-basis: 65%; }
  .flex-66-xl { flex-basis: 66%; }
  .flex-70-xl { flex-basis: 70%; }
  .flex-75-xl { flex-basis: 75%; }
  .flex-80-xl { flex-basis: 80%; }
  .flex-85-xl { flex-basis: 85%; }
  .flex-90-xl { flex-basis: 90%; }
  .flex-95-xl { flex-basis: 95%; }
}

@media (min-width: $xxl) {
  .flex-5-xxl  { flex-basis:  5%; }
  .flex-10-xxl { flex-basis: 10%; }
  .flex-15-xxl { flex-basis: 15%; }
  .flex-20-xxl { flex-basis: 20%; }
  .flex-25-xxl { flex-basis: 25%; }
  .flex-30-xxl { flex-basis: 30%; }
  .flex-33-xxl { flex-basis: 33%; }
  .flex-35-xxl { flex-basis: 35%; }
  .flex-40-xxl { flex-basis: 40%; }
  .flex-45-xxl { flex-basis: 45%; }
  .flex-50-xxl { flex-basis: 50%; }
  .flex-55-xxl { flex-basis: 55%; }
  .flex-60-xxl { flex-basis: 60%; }
  .flex-65-xxl { flex-basis: 65%; }
  .flex-66-xxl { flex-basis: 66%; }
  .flex-70-xxl { flex-basis: 70%; }
  .flex-75-xxl { flex-basis: 75%; }
  .flex-80-xxl { flex-basis: 80%; }
  .flex-85-xxl { flex-basis: 85%; }
  .flex-90-xxl { flex-basis: 90%; }
  .flex-95-xxl { flex-basis: 95%; }
}

@media (min-width: $xxxl) {
  .flex-5-xxxl  { flex-basis:  5%; }
  .flex-10-xxxl { flex-basis: 10%; }
  .flex-15-xxxl { flex-basis: 15%; }
  .flex-20-xxxl { flex-basis: 20%; }
  .flex-25-xxxl { flex-basis: 25%; }
  .flex-30-xxxl { flex-basis: 30%; }
  .flex-33-xxxl { flex-basis: 33%; }
  .flex-35-xxxl { flex-basis: 35%; }
  .flex-40-xxxl { flex-basis: 40%; }
  .flex-45-xxxl { flex-basis: 45%; }
  .flex-50-xxxl { flex-basis: 50%; }
  .flex-55-xxxl { flex-basis: 55%; }
  .flex-60-xxxl { flex-basis: 60%; }
  .flex-65-xxxl { flex-basis: 65%; }
  .flex-66-xxxl { flex-basis: 66%; }
  .flex-70-xxxl { flex-basis: 70%; }
  .flex-75-xxxl { flex-basis: 75%; }
  .flex-80-xxxl { flex-basis: 80%; }
  .flex-85-xxxl { flex-basis: 85%; }
  .flex-90-xxxl { flex-basis: 90%; }
  .flex-95-xxxl { flex-basis: 95%; }
}
