@import "components/settings";

body {
  height: 100vh;
  background-color: $main-bg-color;
  color: $main-font-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 10px;
}

.section {
  min-height: 200px;
  border-radius: 2px;
}

.section-one {
  background-color: $primary-color
}

.section-two {
  background-color: $secondary-color;
}

